body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.button {
  /* for some reason the font-size failed to inherit from the parent. it overwrite by user agent stylesheet */
  font-size: clamp(2rem, 1rem + 5vw, 4rem);

  --background-color: white;
  --border-color: linear-gradient(to bottom right, red, blue);
  --border-width: 0.5em;
  --edge-size: 0.5em;
}
