body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.button {
  /* for some reason the font-size failed to inherit from the parent. it overwrite by user agent stylesheet */
  font-size: clamp(2rem, 1rem + 5vw, 4rem);

  --background: #333;
  --border-color: linear-gradient(to bottom right, red, blue);
  --border-width: 0.5em;
  --edge-size: 0.5em;

  display: inline-grid; /* the current element is inline with its siblings and the children within the current element is grid */
  padding: 0.5em 1.5em;
  border: 0;
  background: var(--background);

  /*clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);*/
  /*clip-path: polygon(*/
  /*  var(--edge-size) 0%,*/
  /*  100% 0,*/
  /*  100% calc(100% - var(--edge-size)),*/
  /*  calc(100% - var(--edge-size)) 100%,*/
  /*  0 100%,*/
  /*  0% var(--edge-size)*/
  /*);*/
  clip-path: polygon(
    /* top-left 1 */ 0% var(--edge-size),
    /* top-left 2 */ var(--edge-size) 0%,
    /* top-right */ 100% 0,
    /* bottom-right 1 */ 100% calc(100% - var(--edge-size)),
    /* bottom-right 2 */ calc(100% - var(--edge-size)) 100%,
    /* bottom-left */ 0 100%
  );
}
